@charset "uft-8";
/* 절대로 위의 줄은 1번줄에 배치해야함 */
/* 세미콜론을 찍어야 새로운 css가 시작이 된다. */
/* 글꼴 import 진행 */
@import url("./font/font.css") * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* 테두리가 들어가도 안쪽으로 */
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  border: 0;
  vertical-align: middle;
}

html {
  font-size: 16px;
  /* 기본 폰트사이즈 px or rem*/
}

body {
  font-family: "Poppins", "Pretendard", sans-serif;
  /* min-width: 320px; */
  /* overflow-x: hidden; */
  overflow-y: scroll;
  color: #222;
  font-size: 16px;
  line-height: 1;
  /* 폰트 사이즈 x1 */
  letter-spacing: 0px;
  /* background: #fff; */
  word-break: keep-all;
}

/* 공통요소 */
.inner {
  position: relative;
  display: block;
  /* 반응형이므로 */
  max-width: 1420px;
  width: 100%;
  /* block 요소 가운데 정렬 */
  margin: 0 auto;
}

/* 레이아웃 */
.wrap {
  position: relative;
  /* 좌표의 기준 */
  display: block;
}
/* 상단 */
.header {
  /* 메뉴가 상단에 고정해서 스크롤이 된다면 fixed */
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100px;
  /* header는 무조건 z-index 쓰자! 최대값으로 쓰기 */
  z-index: 9999;
  background: rgba(255, 255, 255, 0);
  transition: heigth 0.5s, background 0.5s;
}

.header .inner {
  max-width: 100%;
  height: 100%;
}

/* left, top, right, bottom 사용시
반드시 position:absolute 쓰자.
즉, position: relative */

.logo {
  position: absolute;
  top: 35px;
  left: 60px;
  /* a, span 등 기본은 display: inline
  너비, 높이, margin, padding 설정 못함
  그래서 최소 inline-block 이라고 해야한다. */
  display: inline-block;
  width: 125px;
  height: 30px;
  background: url("/images/logo_white.png") no-repeat center;
  background-size: cover;
  transition: top 0.5s, background 0.5s;
  /* 이미지 사이즈 고려안해도 됨 */
}

.nav {
  position: absolute;
  right: 0;
  top: 0;
}

.gnb {
  display: flex;
  height: 100%;
  align-items: center;
}

.gnb li {
}

/* 스크롤시 css 적용 */
.header.active {
  height: 110px;
  background: rgba(255, 255, 255, 1);
}

.header:hover .logo {
  top: 25px;
  background: url("/images/logo.png") no-repeat center;
  background-size: cover;
}

/* 비주얼 */
.visual {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
  background: url("/images/main_visual_1.jpg");
}
/* 서비스 */
.service {
  position: relative;
  display: block;
}
/* 정보 */
.info {
  position: relative;
  display: block;
}
/* 서비스 카테고리 */
.category {
  position: relative;
  display: block;
}
/* 하단 */
.footer {
  position: relative;
  display: block;
}
